---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout color="#000" subtitle="Concretar una prueba de conducción" title="Model Y" id={'model-y'} >
    <div slot="footer" class="gap-x-6 flex mx-auto">
      <a
        class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
        href="#"
      >
        Explorar inventario</a
      >
      <a
        class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
        href="#"
      >
        Pedido personalizado</a
      >
  </div>
  <img class="h-full w-full object-cover" slot="background" src="public/model-y.avif" alt="Testla Model Y car"/>
</SectionLayout>

<script>
  
</script>