---
import Header from '../components/Header/Header.astro';
import HeroSection from '../components/Sections/HeroSection.astro';
import ModelYSection from '../components/Sections/ModelYSection.astro';
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Electric Cars, Solar & Clean Energy | Tesla Other Europe">
	<Header />


<main class="snap-y snap-mandatory h-screen w-screen overflow-auto relative">
	<HeroSection />
	<ModelYSection />
</main>
	

</PageLayout>

