---
import type { ILink } from '../../../utils/types';


export interface Props {
  links: ILink[]
}

const {links} = Astro.props
---
<ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
  {
    links.map((link) => (
      <li >
        <a class="cursor-pointer" href={link.href}>{link.text}</a>
      </li>
    ))
  }
</ul>
